@mixin items-list() {

    @apply flex flex-row py-1;

    .__content {
        @apply flex flex-1 flex-nowrap items-start cursor-pointer min-w-0;

        .__title-container {
            @apply flex-grow min-w-0 overflow-hidden;

            .__title {
                @apply inline-block text-sm mr-3 flex-grow flex-1 whitespace-nowrap overflow-hidden overflow-ellipsis font-semibold lg:text-base;
            }
        }

        .__subtitle-container {
            @apply flex flex-nowrap text-xs text-gray-500 items-center;

            .__subtitle-item {
                @apply flex flex-nowrap items-center;

                &:not(:last-child) {
                    @apply mr-5;
                }
            }
        }
        
    }

    .__content {
        &:hover {
            .__title {
                @apply text-nord10 underline;
            }
        }
    }
}