@import "../../styles/index.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

body {
    min-width: 0;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#app {
    flex: 1;
    display: flex;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-horizontal-scrollbar {
    &::-webkit-scrollbar:horizontal {
        height: 0px;
    }
}

.main-gradient {
    
    background-image: linear-gradient(to bottom, #faf9fb, #f3f4f6);

    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(to bottom, #16181d, #1a1d23, rgb(29, 32, 39), rgb(32, 36, 44), rgb(36, 41, 50));
    }
}

.main-gradient-faded {
    background-image: linear-gradient(to bottom, #faf9fb, rgba(243, 244, 246, .9), rgba(243, 244, 246, .4), rgba(243, 244, 246, 0), rgba(243, 244, 246, 0));

    transition: bottom ease-in-out 1s;
    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(to bottom, #16181d, rgba(26, 29, 35, 0.9), rgba(29, 32, 39, .6), rgba(32, 36, 44, .2), rgba(36, 41, 50, 0));
    }
}