@import "../../styles/index.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

body {
    min-width: 0;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#app {
    flex: 1;
    display: flex;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    /* Customize website's scrollbar like Mac OS
    Not supports in Firefox and IE */

    /* total width */
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }

    &::-webkit-scrollbar:horizontal {
        background-color: transparent;
        height: 0px;
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 16px;
        border: 4px solid #d1d1d1;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        background-color: #888;
        border-radius: 16px;
        border: 4px solid #d1d1d1;
    }

    @media (prefers-color-scheme: dark) {
        &::-webkit-scrollbar-thumb:horizontal {
            background-color: rgba(255, 255, 255, .5);
        }
    }

    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
        display:none;
    }
}

.main-gradient {
    
    background-image: linear-gradient(to bottom, #faf9fb, #f3f4f6);

    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(to bottom, #16181d, #1a1d23, rgb(29, 32, 39), rgb(32, 36, 44), rgb(36, 41, 50));
    }
}

.main-gradient-faded {
    background-image: linear-gradient(to bottom, #faf9fb, rgba(243, 244, 246, .9), rgba(243, 244, 246, .4), rgba(243, 244, 246, 0), rgba(243, 244, 246, 0));

    transition: bottom ease-in-out 1s;
    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(to bottom, #16181d, rgba(26, 29, 35, 0.9), rgba(29, 32, 39, .2), rgba(32, 36, 44, 0), rgba(36, 41, 50, 0));
    }
}