#polo-session-helper {
    font-family: 'Georgia';
    position: fixed;
    z-index: 99999;

    .session-helper__component {
        background: #f5f7f9;
        font-size: 14px;
        padding: 10px 20px;
        border: 1px solid #D1D1D1;
    }
}