.session-helper-session__component {
    .__detach {
        display: inline-block;
        margin-top: 4px;
        text-decoration: underline;
        font-size: 14px;
        color: #5e81ac;
        cursor: pointer;
    }
}

