@import "~/client/styles/index";

.default-modal {
    @apply text-nord1 dark:text-nord5;
    @apply bg-nord6 dark:bg-nord1 px-6 py-5 lg:px-8 lg:py-6 shadow-lg h-full max-h-full;
    @apply flex flex-col min-h-0 relative;
    @apply lg:min-w-80 md:rounded-md lg:h-auto;
}