@import "../styles/index.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

body {
    min-height: 100vh;
    min-width: 0;
    display: flex;
    align-items: stretch;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#app {
    flex: 1;
    display: flex;
    align-items: stretch;
    min-width: 0;
}

.app__component {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    min-width: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;