<div data-pos-x="SESSION_HELPER_X" data-pos-y="SESSION_HELPER_Y" id="polo-session-helper"></div>
<script>window.currentSession = JSON.parse(atob(`%%currentSession%%`));</script>
{{{ htmlWebpackPlugin.tags.headTags }}}
{{{ htmlWebpackPlugin.tags.bodyTags }}}